body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: url('https://media.giphy.com/media/PMV7yRpwGO5y9p3DBx/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    color: aqua;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid gold;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

#bff-img:hover {
    border-color: aqua;
    transform: scale(1.5)
}

#bday-age {
    background: palevioletred;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 50px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: palevioletred;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid gold;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy {
    height: 200px;
    width: 350px;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/LSiYbnbEpeTCfd3cl3/giphy.gif");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 350px;
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/KWRjfFe4x7nwyh9GlX/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/kZD8cN1MycfKw/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/tqe6TW0g5dxU4/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
    background-image: url("https://giphy.com/clips/studiosoriginals-happy-birthday-cousin-MDLBxlq78zqsPeGKRR")
}

a {
    color: white;
}
#pics img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid aqua;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/
